body {
    font-family: Saira Semi Condensed;
}

#demo-chart-volume {
    width: 100%;
    height: 250px;
}

#demo-chart-area {
    width: 100%;
    height: 200px;
}
#demo-chart-elevation {
    width: 100%;
    height: 200px;
}

.container-no-margin {
    margin-left: -40px;
    width: 460px;
}

.input-group-text {
    background-color: white;
    cursor: pointer;
}

.input-group-prepend .input-group-text {
    border-right-width: 0;
}

.input-group-append .input-group-text {
    border-left-width: 0;
}

#searchInput {
    border-right-width: 0;
    border-left-width: 0;
}

#dateFrom, #dateTill {
    border-right-width: 0;
}

.line-item {
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn, .nav-tabs .nav-link {
    border-radius: 0;
}

.media-img {
    height: 64px;
    width: 64px;
}

.media-item {
    cursor: pointer;
}

.media-item.active .text-muted {
    color: white !important;
}

.media-item.active {
    background-color: #00669e;
    border-color: #00669e;
}

.show-on-results {
    display: none;
}


#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00669e;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: center;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}