body {
	margin: 0;
}
#site-wrapper{
	display: flex;
}

#menu-wrapper { 
	flex-grow: 0;
	flex-shrink: 0;

	width: 400px; 
	height: 100vh; 
	background: #f2f2f2;
	border-right: gray solid 1px;

	padding: 8px;
}
#map-wrapper { 
	flex-grow: 1;
	flex-shrink: 0;

	height: 100vh; 
	background: url(../img/3.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
}
#resizable { 
	width: 480px;
	height: 100vh;
	border-right: gray solid 1px;
	background: lightgray;
	background: url(../img/1.jpg)  no-repeat center center fixed;
	background-size: cover;
}
#slider-3 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 300px;
}